<!--Begin Navigation-->
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/bio">Bio</a></li>
  <li><em><a href="/randomexorcisms">RANDOM EXORCISMS</a></em></li>
  <li><em><a href="/skins">SKINS</a></em></li>
  <li><em><a href="/logorrhea">LOGORRHEA</a></em></li>
  <li><em><a href="/savagesunsets">SAVAGE SUNSETS</a></em></li>
  <li><a href="/bibliography">Bibliography</a></li>
  <li><a href="/readings">Readings</a></li>
  <li><a href="/links">Links</a></li>
  <li><a href="mailto:numu@iw.net" target="_blank">Contact</a></li>
  <br class="clear" />
</ul>
<!--End Navigation-->